{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div class= "meal" style="float:right;margin-left:50%;color: white;background-color: rgb(88, 53, 29);border-radius: 30px;">
    <h4 style= "text-align: center;"><u>Her is a custom meal plan just for you</u></h4>
    <p class="mealplan " style="font-weight: bolder; font-size:10pt;;"> 
        {{mealplan.title}}
      </p>
      <hr />
      <div class="mealplan">
        <p class="custom">
         ~ {{mealplan.readyInMinutes}} ~
        </p>
        <p class="custom">
            ~ {{mealplan.servings}} ~
           </p>
           <p class="custom">
            ~ {{mealplan.sourceUrl}} ~
           </p>
    </div>
{% endblock %}  
</div>