{%extends 'base.html'%}
{% block content %}
<div class="container">
    <h3 style="font-size:30px;"> Yeeyyyy....We found {{ recipes| count }} matches...enjoy</h3>
    <br>
    <br>
    <div class="row">
    
    
    <hr>
    {%for recipe in recipes%}
    <div class="col-md-4">
    
        <div class="card" style= "background-color: rgb(201, 197, 197);padding:10px;">
            <h3 class="card-title" style="text-align: center;"><u>{{recipe.title}}</u></h3>
            <div class="card-body">
                <img src="{{recipe.image }}" style="width: 100%; border-radius: 45px;" alt="">
                <hr>
                <h4 class="card-title"><a style="color: rgb(28, 53, 107)" href="/recipe/information/{{recipe.id}}">More info</a></h4>
                <p class="text-right"><strong> With love </strong></p>
            </div>
    
        </div>
        <hr>
    </div>
     
    
    {%endfor%}
    </div>
    
    </div>
{% endblock %}


